package ${package.Mapper};

import ${package.Entity}.${entity};
#if(${cfg.isMp})
import ${superMapperClassPackage};
#else
import com.baomidou.mybatisplus.plugins.pagination.Pagination;
import java.util.List;
#end

/**
 * <p>
 * $!{table.comment}
 * </p>
 * @作者 : ${author}
 * @时间 : ${date}
 */
public interface ${table.mapperName} #if(${cfg.isMp})extends ${superMapperClass}<${entity}>#end {
#if(${cfg.isMp})

#else
    /**
     *  根据主键查找$!{table.comment}记录
     * @param $!{table.fields[0].propertyName} 主键
     * @return 数据结果
     */
    ${entity} findById($!{table.fields[0].columnType.type} $!{table.fields[0].propertyName});

    /**
    * 查找所有用户可传入条件
    * @return 查询结果
    */
    List<${entity}>find(${entity} ${table.entityName.toLowerCase()},Pagination page);
    #set ($namea = $table.entityName.substring(0,1).toLowerCase() + $table.entityName.substring(1,$table.entityName.length()))
    /**
     *  动态新增。自动返回主键
     * @param ${namea} 数据
     * @return 结果
     */
    int insert(${entity} ${namea});
    /**
     *  根据主键动态更新记录
     * @param ${namea} 数据
     * @return 更新结果
     */
    int updateById(${entity} ${namea});
    /**
     *  根据id删除用户
     * @param $!{table.fields[0].propertyName} 主键
     * @return 记录
     */
    int deleteById($!{table.fields[0].columnType.type} $!{table.fields[0].propertyName});
#end
}